/* Table of Contents
1. Global Styles
2. Typography
3. Layout
    /* 3.1 -- Product Card */
/* 3.2 -- Card Left */
/* 3.3 -- Card Right */

/* 1. Global Styles */
body {
    background-color: hsl(30,38%,92%);
}

/* 2. Typography */

.card__text--category,
.card__text--description,
.card__price--strikethrough {
    color: hsl(228, 12%, 48%);
}

.card__text--category {
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}

.card__text--title {
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.card__text--description {
    font-family: "Montserrat", sans-serif;
}

.card__price--sale {
    color: hsl(158, 36%, 37%);
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Fraunces", sans-serif;
}

.card__price--strikethrough {
    text-decoration: line-through;
    font-family: "Fraunces", sans-serif;
    font-size: .75rem;
}

.card__cart-btn {
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
}

.card__cart-btn:hover {
    background-color: hsl(158, 42%, 18%) ;
}

.card__cart-text {
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 1rem;

}

/* 3. Layout */

/* 3.1 -- Product Card */
* {
    box-sizing: border-box;
}

.card__wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

.card {
    flex-basis: 55%;
    max-width: 55%;
    margin-inline: auto;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
}

/* 3.2 -- Card Left */
.card__left {
    flex: 45;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 3.3 -- Card Right */
.card__right--wrapper {
    flex: 55;
}

.card__right {
    padding: 7%;
    height: 100%;
    background-color: white;
}

.card__right,
.card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.card__right p {
    margin: 0px;
}

.card__left,
.card__right--wrapper {
    min-width: 0px
}

.card__cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.card__price {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


/* 4. Reused Components */

@media (max-width:920px){
    .card{
        flex-direction: column;
        max-height: 55%;
    }

    .card > *{
        min-height: 0;
    }
.card__right--wrapper{
    
}
    .card__left {
    }

    .card__right{

    }
    }
