/* ==============================
1  Global Styles 
==============================*/


/* ==============================
2.  Typography 
==============================*/ 


/* ==============================
3. Layout 
       3.1  Product Card
       3.2  Card Left 
       3.3  Card Right 
==============================*/


/* ==============================
4. Media Queries
==============================*/

/* ==============================
1  Global Styles 
==============================*/
body {
    background-color: hsl(30, 38%, 92%);
}

:root {
    --clr-black: hsl(212, 21%, 14%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray: hsl(228, 12%, 48%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-lightgreen: hsl(158, 36%, 37%);
    --clr-darkgreen: hsl(158, 42%, 18%);
    --round-edges: 25px;
    --font-size-s: .75em;
    --font-size-m: 1em;
    --font-size-l: 2.1em;
    --font-size-xl: 2.5em;
}

/* ==============================
2  Typography 
==============================*/

.card__text--category,
.card__text--description,
.card__price--strikethrough {
    color: hsl(228, 12%, 48%);
}

.card__text--category,
.card__text--description,
.card__cart-text {
    font-family: 'Montserrat', sans-serif;
}

.card__text--title,
.card__price--sale,
.card__price--strikethrough {
    font-family: "Fraunces", sans-serif;
}

.card__text--title,
.card__price--sale {
    font-weight: 700;
}

.card__text {
    font-size: clamp(.7rem, 2vw, 1rem);
}

.card__text--category {
    letter-spacing: 2px;
    font-size: var(--font-size-m);
}

.card__text--title {
    color: var(--clr-black);
    font-size: var(--font-size-l);
}

.card__text--description {
    font-size: var(--font-size-m);
}

.card__price--sale {
    color: var(--clr-lightgreen);
    font-size: 2.5rem;
}

.card__price--strikethrough {
    text-decoration: line-through;
    font-size: var(--font-size-s)
}

.card__cart-btn {
    background-color: var(--clr-lightgreen);
    border-radius: 10px;
}

.card__cart-btn:hover {
    background-color: var(--clr-darkgreen);
}

.card__cart-text {
    color: white;
    padding: 1rem;

}

/*==============================
 3  Layout 
 ==============================*/


/*==============================
 3.1  Product Card 
 ==============================*/
* {
    box-sizing: border-box;
}

.card__wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

.card {
    max-width: 40%;
    margin-inline: auto;
    border-radius: var(--round-edges);
    display: flex;
}


/*==============================
3.2  Card Left 
==============================*/
.card__left {
    flex: 1;

}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: var(--round-edges);
    border-top-left-radius: var(--round-edges);
}


/*==============================
 3.3  Card Right 
 ==============================*/
.card__right--wrapper {
    flex: 1;
}

.card__right {
    padding: 7%;
    padding-right: 10%;
    height: 100%;
    background-color: var(--clr-white);
    border-top-right-radius: var(--round-edges);
    border-bottom-right-radius: var(--round-edges);
}

.card__right,
.card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.card__right p {
    margin: 0px;
}

.card__left,
.card__right--wrapper {
    min-width: 0px
}

.card__cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.card__price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
}


/*==============================
 4. Media Queries
 ==============================*/
@media (min-width:1600px) {
    .card {
        max-width: 25%;
    }
        .card__price {
        font-size: clamp(.4rem, 2vw, 1.3rem);
        gap: clamp(.35rem, 2vw, 1.5rem);
    }

    .card__price--sale {
        font-size: var(--font-size-l);
    }

    .card__price--strikethrough {
        font-size: var(--font-size-s);
    }
}

@media (max-width:1600px) {

    .card__price {
        flex-direction: column;
        gap: .25rem;
    }
}

@media (max-width:970px) and (orientation: portrait) {
    .card {
        flex-direction: column;
        min-width: 45%;
    }

    .card__right,
    .card__image {
        border-radius: 0;

    }

    .card__right {
        border-bottom-right-radius: var(--round-edges);
        border-bottom-left-radius: var(--round-edges);
    }

    .card__image {
        border-radius: 0;
        border-top-right-radius: var(--round-edges);
        border-top-left-radius: var(--round-edges);
        display: block;
    }


    .card__price {
        font-size: clamp(.5rem, 2vw, 1rem);
        gap: clamp(.35rem, 2vw, 1.5rem);
    }

    .card__price--sale {
        font-size: var(--font-size-l);
    }

    .card__price--strikethrough {
        font-size: var(--font-size-m);
    }

    .card__cart-text {
        font-size: clamp(.5rem, 2vw, var(--font-size-m));
    }

    .card__cart-btn {
        gap: clamp(.35rem, 2vw, 1rem);

    }

}